*{
  box-sizing: border-box;
}

.clear{
  clear:left;
}



.container{
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper{
  padding: 180px 0 100px 0;
  background-image:url(img/singer.jpg);
  color: red;
background-size:cover;
text-align: center;
}

.top-wrapper h1{
  opacity: 0.5;
  font-size: 35px;
  letter-spacing: 5px;
  display:none;

}

.top-wrapper p{
opacity: 0.7;
}

#p{
  display:none;
}

.btn{
  padding:8px 24px;
  color: white;
  display:inline-block;
  opacity: 0.8;
  border-radius: 5px;
}

.btn:hover{
  opacity: 1;
}

.signup{
  background-color: #239b76;

}
.facebook{
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter{
  background-color: #55acee;
}

.btn-wrapper{
  margin: 20px 0;
}

.btn-wrapper p{
  margin:10px 0;
}

.fab{
  margin-right:5px;
}

header{
  height: 65px;
  background-color: rgba(255, 0, 0, 0.5);
  width: 100%;

}



.header-right{
  float:right;
  background-color:rgba(255,153,153, 0.9);
  transition: all 0.5s;
}

.header-right:hover{
  background-color:rgba(255, 255, 255, 0.5);
}

.header-right a{
  line-height: 65px;
  padding:0 25px;
  color: white;
  display:block;
}
.login-modal-wrapper,.signup-modal-wrapper{
  position: fixed;
  top:0;
  right: 0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}

.modal{
  position:absolute;
  top:20%;
  left:34%;
  background-color:#e6ecf0;
  padding:20px 0 40px;
  border-radius:10px;
  width:460px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right:12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form,#login-form{
  width: 100%;
}

#signup-form h2,#login-form h2{
  color:#808080;
  letter-spacing:1px;
  margin-bottom:40px;
}

#signup-form input,#login-form input{
  width:330px;
  margin-bottom: 20px;
  font-size:13px;
  padding: 12px;
  border: 1px solid #d0d5d8;
  border-radius:4px;
}

#submit-btn{
  display: inline-block;
  padding:15px 140px;
  background-color:#2f5167 ;
  border:none;
  border-radius: 3px;
  color: #BBBBBB;
  margin:10px auto;
  cursor: pointer;
 box-shadow: 0 8px #2f5167f0;


}

#submit-btn:active{
position:relative;
top:8px;
box-shadow:none;
}




.item-wrapper{
  padding-bottom:80px;
  background-color:#FFFFDD;
  text-align: center;
}

.heading{
  padding:60px 0 30px 0;
  color:#5f5d60;
}

.heading h2{
  font-weight: normal;
}

.item{
  float: left;
  width: 25%;
}

.item-icon{
  position: relative;
}

.item-icon p{
  position: absolute;
  top:210px;
  left:100px;
  color:red;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size:12px;
  color: #b3aeb5;
  display: none;
}

.txt-active{
  display: block;
}

.message-wrapper{
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}


.message{
  background-color: #D6FF58;
  padding:15px 40px;
  color:#BBBBBB;
  cursor: pointer;
  box-shadow:0 8px #BEFF15 ;

}
.message:active{
  box-shadow: none;
  position: relative;
  top:8px;
}


.heading h3{
  font-weight:normal;
}

footer{
  background-color:rgba(255, 0, 0, 0.5) ;
  height:100px;
  color:#fff;
  display: inline-block;
  width: 100%;

}

.section-title {
  color: #5f5d60;

}

input,textarea{
   width: 400px;
   margin-top:10px;
   margin-bottom:30px;
   padding: 25px;
   font-size:18px;
   border:2px solid #dee7ec;
}

.contact-submit{
  background-color: #2f5167;
  color:#BBBBBB;
}
